html {
  /* background: #0b0b0b */
}

.App {
  background-attachment: fixed;
  min-height: 100vh;
  background-image: linear-gradient(
      135deg,
      rgba(36, 99, 124,1) 0%,
      rgba(19, 49, 65,1) 18%,
      rgba(11, 25, 40,1) 38%,
      rgba(10, 17, 25,1) 56%,
      rgba(1, 1, 3,1) 84%   
    );
    /* url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/northernlights.jpg); */
}


/* .main {
  background: linear-gradient(
    135deg,
    #338aad 0%,
    #1c485f 18%,
    #132b44 38%,
    #131f2f 56%,
    #0c0e1a 84%
  );
  background-attachment: fixed;
} */

.overlay {
  display: flex;
  background-attachment: fixed;
}

.overlay::after {
  /* content is required when using :after */
  content: "";
  display: inline-block;
  /* The grainy image */
  background-image: url("../public/static/images/paper_1.png");
  /* Specify a height and width above and beyond the page header for movement */
  height: 300%;
  width: 300%;
  /* We're using opacity in place of a transparent image */
  opacity: 0.05;
  /* We'll need this when the animation kicks in to hold the position of the texture */
  position: fixed;
}


.sidebar {
  overflow: auto;
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
}

.sidebar-container {
  background: white;
  /* url("./images/boombox.png") bottom center ; */
  background-size: cover;
  height: 100vh;
}

.bottombar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  transition: margin-left 0.3s ease;
  overflow: auto;
}

.content-wrapper-collapsed {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 64px;
  transition: margin-left 0.3s ease;
  overflow: auto;
}

.content-wrapper-nosidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.topbar {
  position: fixed;
  top: 0;
  left: 201px;
  right: 0;
  z-index: 9999;
  transition: left 0.3s ease;
}

.topbar-collapsed {
  position: fixed;
  top: 0;
  left: 65px;
  right: 0;
  z-index: 9999;
  transition: left 0.3s ease;
}

.topbar-nosidebar {
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: left 0.3s ease;
}

/* .main {
  background-image: linear-gradient(to bottom right, #004b7f, #006f96, #0090c3);
} */

.main-content {
  flex-grow: 1;
  overflow: auto;
  /* background-color: #012040; */
  /* background: #0d0d0d; */
  /* url("./images/sound-wall.jpg") center; */
  -webkit-overflow-scrolling: touch;
  min-height: 100vh;
  padding-top: 60px;
}

.vinyl-loader {
  height: 40vmin;
  pointer-events: none;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation-name: spinning;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  /* linear | ease | ease-in | ease-out | ease-in-out */
  animation-timing-function: linear;
  width: 10vh;
}

/* CUSTOM STRIPE CHECKOUT */

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-form {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
  width: 30%;
  border: 2px solid #32325d;
  border-radius: 5px;
  /*background: #61dafb;*/
}

.submit-btn {
  margin: 10px 0;
  width: 50%;
  align-self: center;
  background: #32325d;
  padding: 10px 14px;
  color: white;
  border-radius: 5px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
}

.form-row {
  display: flex;
  flex-direction: column;
}
.form-input {
  margin: 10px 0;
  border: none;
  outline: none;
  padding: 0 15px;
  font-size: 15px;
}

.card-errors {
  color: red;
}

