html {
  /* background: #0b0b0b */
}

.App {
  display: flex;
  /* background: #011428; */
}

.sidebar {
  overflow: auto;
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
}

.sidebar-container {
  background: white;
  /* url("./images/boombox.png") bottom center ; */
  background-size: cover;
  height: 100vh;
}

.bottombar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  transition: margin-left 0.3s ease;
  overflow: auto;
}

.content-wrapper-collapsed {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 64px;
  transition: margin-left 0.3s ease;
  overflow: auto;
}

.content-wrapper-nosidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.topbar {
  position: fixed;
  top: 0;
  left: 201px;
  right: 0;
  z-index: 9999;
  transition: left 0.3s ease;
}

.topbar-collapsed {
  position: fixed;
  top: 0;
  left: 65px;
  right: 0;
  z-index: 9999;
  transition: left 0.3s ease;
}

.topbar-nosidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: left 0.3s ease;
}

.main-content {
  flex-grow: 1;
  overflow: auto;
  /* background-color: #012040; */
  /* background: #0d0d0d; */
  /* url("./images/sound-wall.jpg") center; */
  -webkit-overflow-scrolling: touch;
  min-height: 100vh;
  padding-top: 50px;
}

.vinyl-loader {
  height: 40vmin;
  pointer-events: none;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation-name: spinning;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  /* linear | ease | ease-in | ease-out | ease-in-out */
  animation-timing-function: linear;
  width: 10vh;
}

